name: build-and-test
on: ["push", "pull_request"]
jobs:
  build-and-test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - run: make test

      - name: e2e test
        run: |
          curl -Ls "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          mkdir ./bin
          mv kustomize ./bin/
          export PATH=$(pwd -P)/bin:$PATH

          kustomize fn run examples/set-annotation/local-resource/ --dry-run
